@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1458293517'); /* IE9*/
  src: url('iconfont.eot?t=1458293517#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1458293517') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1458293517') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1458293517#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-11qq:before { content: "\e64d"; }
.icon-weixin:before { content: "\e71d"; }
.icon-weibo:before { content: "\e64c"; }
body{
  font-family: "微软雅黑";
}
input{
  margin:0;
  padding: 0;
}
.button-collapse{
  margin-left: 10px;
}
.slider{
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slider{
   overflow: hidden;
}
.slider .slides {
  width: 100%;
  height: 100%;
 
}
.slider .slides .active{
  opacity:1;
}  
.slider .slides .moren{
  left: 100%;
}
.slider .slides .active .caption{
  opacity:1;
} 

.slider .slides li{
  transition:all 1s ease;
}
.neiron{
  display: none;
}
.denglv{
  display: none;
  background: #e1b6af;
}
#jinru{
  font-size: 16px;
  position: absolute;
  bottom:10%;
  left: 50%;
  margin-left: -67px;
}
.btn{
  font-size: 14px;
  background: #7e57c2;
}
.logobox{
  position: absolute;
  top:9%;
  width: 100%;
}
.logobox img{
  display: block;
  width: 48%;
  margin:0 auto;
}
.denglv-con{
  position: absolute;
  left: 0;
  right: 0;
  top:34%;
  bottom: 9.5%;
  margin: 0 auto;
  width: 77%;
}
.name,.mima{
  height: 45px;
  width: 100%;
  border-radius: 6px;
  background: #f2e8e6;
  overflow: hidden;
  line-height: 45px;
}
.mima{
  margin-top: 15px;
}
.tishi{
  margin-top: 18px;
  line-height: 20px;
  color: #b4a3a0;

}
.tishi-left{
 float: left;

}
.tishi-right{
  float: right;
}
.cf:before,.cf:after{
  display: table;
  content: " ";
  line-height: 0;
}
.cf:after{
  clear: both;
}
[type="checkbox"]:not(:checked), [type="checkbox"]:checked{
  position: relative;
  left: 0;
  visibility: visible;
}
#jizhu{
  margin-right: 1px;
}
.xian{
  margin-top: 16px;
  width: 100%;
  height: 2px;
  background: #e28590;
}
.deng{
  display: block;
  margin-top: 20px;
  height: 40px;
  width: 100%;
  border-radius: 6px;
  background: #e35472;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  color: #f2e8e6;
}
.jinruzhuye{
  transition: all .5s ease-out;
}
.youke{
  display: block;
  height: 44px;
  width: 100%;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  color: #f2e8e6;
}
.xian1{
  margin-top: 0px;
}
.xian2{
  position: absolute;
  bottom: 17%;
  left: 0;
  right: 0;
  width: 80%;
  margin:0 auto;
}
.xian2-1{
  width: 30%;
  height: 2px;
  background: #d0ada7;
  float: left;
}
.xian2-2{
  width: 30%;
  height: 2px;
  background: #d0ada7;
  float: right;
}
.guangyu{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  width: 170px;
  margin:0 auto;
}
.yonghutu,.yonghukuan,.mimatu,.mimakuan{
  float: left;
}
input[type=text].yonghukuan,input[type=text].mimakuan{
  width: 80%;
  height: 45px;
  font-size: 17px;
  line-height: 40px;
  color: #393939;
  margin:0;
  border:none;
  outline: none;
  background: rgba(0,0,0,0);
}
.yonghutu,.mimatu{
  margin-top: 9px;
  margin-left: 20px;
  margin-right: 10px;
  width: 27px;
}